@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Redressed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #2980b9;
    font-family: 'Redressed',cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px 10px rgba(0 0 0 0.1);
    padding: 50px 20px;
    text-align: center;
    max-width: 100%;
    width: 500px;
}

h3{
    margin: 0;
    color: rgb(148,141,141);
    letter-spacing: 2px;
    text-transform: capitalize;
    position: relative;
    bottom: 50px;
}

.joke{
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
}

.btn{
    background-color: #f8b627;
    color: #fff;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0 0 0 0.1),
    0 6px 6px rgba(0 0 0 0.1);
    padding: 12px 30px;
    cursor: pointer;
    outline: none;
    position: relative;
    top: 30px;
    font-family: "Mulish",sans-serif;
    font-weight: 500;
}

.btn:hover{
    background-color: #ffae00;
    color: #fff;
    transition: all 0.4s;
}